<form method="post" action="{{ path('app_joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
    <button class="btn">Supprimer mon compte</button>
</form>
