{% extends 'base.html.twig' %}

{% block title %}Edit Joueur{% endblock %}

{% block body %}
    <h1>Edit Joueur</h1>

    {{ include('joueur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_joueur_index') }}">back to list</a>

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
