{% extends 'base.html.twig' %}

{% block title %}Edit Joueur{% endblock %}

{% block body %}
    <h1 class="mb-3">Edit Joueur</h1>
    {{ include('joueur/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
