<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Formulaire de contact</h1>
        <p> Confirmation d'envoi de formualaire de contact, nous vous répondrons tres rapidement. Votre message "{{contact.message}}" à bien été pris en compte.</p>
        
        <img src= "data:image/jpg;base64, {{contact.image}}">


    </body>
</html>