<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <?php
            
        ?>
        <h1>Formulaire de contact</h1>
        <p> {{contact.message}}</p>
        
        <img src= "data:image/jpg;base64, {{contact.image}}">


    </body>
</html>