{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1 class="mb-3">Historique</h1>





    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbcoups</th>
                <th>Resultat</th>
                <th>Date</th>
                {#<th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.nbcoups }}</td>
                <td>{{ partie.resultat ? 'Gagné' : 'Perdu' }}</td>
                <td>{{ partie.date ? partie.date|date('Y-m-d') : '' }}</td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Vous n'avez Joué aucune partie </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
